@import "sony-fonts.css";


.sst-pro {
  font-family: "SST";
  font-weight: normal;
  font-style: normal;
}

.sst-pro-medium {
   font-family: 'SST Pro';
   font-weight: 500;
   font-style: normal;
}

.sst-pro-bold {
    font-family: 'SST';
    font-weight: bold;
    font-style: normal;
}
