
@font-face {
    font-family: "SST";
    src: url("http://fonts.sony.net/shf/v31/latinextended/fonts/SSTW02Medium.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'SST Pro';
    src: url('font/SSTPro-Bold.woff2') format('woff2'),
    url('font/SSTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SST Pro Typewriter';
    src: url('font/SSTTypewriterPro-Roman.woff2') format('woff2'),
    url('font/SSTTypewriterPro-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SST Pro';
    src: url('font/SSTPro-Italic.woff2') format('woff2'),
    url('font/SSTPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SST Pro Condensed';
    src: url('font/SSTPro-Condensed.woff2') format('woff2'),
    url('font/SSTPro-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SST Pro';
    src: url('font/SSTPro-Roman.woff2') format('woff2'),
    url('font/SSTPro-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SST Pro';
    src: url('font/SSTPro-BoldItalic.woff2') format('woff2'),
    url('font/SSTPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SST Pro Condensed';
    src: url('font/SSTPro-CondensedMd.woff2') format('woff2'),
    url('font/SSTPro-CondensedMd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SST Pro Ultra';
    src: url('font/SSTPro-UltraLight.woff2') format('woff2'),
    url('font/SSTPro-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SST Pro';
    src: url('font/SSTPro-MediumItalic.woff2') format('woff2'),
    url('font/SSTPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SST Pro';
    src: url('font/SSTPro-LightItalic.woff2') format('woff2'),
    url('font/SSTPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SST Pro';
    src: url('font/SSTPro-Medium.woff2') format('woff2'),
    url('font/SSTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SST Pro Typewriter';
    src: url('font/SSTTypewriterPro-Bd.woff2') format('woff2'),
    url('font/SSTTypewriterPro-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SST Pro';
    src: url('font/SSTPro-Heavy.woff2') format('woff2'),
    url('font/SSTPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SST Pro';
    src: url('font/SSTPro-HeavyItalic.woff2') format('woff2'),
    url('font/SSTPro-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SST Pro';
    src: url('font/SSTPro-Light.woff2') format('woff2'),
    url('font/SSTPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SST Pro Condensed';
    src: url('font/SSTPro-CondensedBd.woff2') format('woff2'),
    url('font/SSTPro-CondensedBd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SST Pro Ultra';
    src: url('font/SSTPro-UltraLightItalic.woff2') format('woff2'),
    url('font/SSTPro-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

