<!--<slick-->
<!--        ref="slick"-->
<!--        :options="slickOptions"-->
<!--        @afterChange="handleAfterChange"-->
<!--        @beforeChange="handleBeforeChange"-->
<!--        @breakpoint="handleBreakpoint"-->
<!--        @destroy="handleDestroy"-->
<!--        @edge="handleEdge"-->
<!--        @init="handleInit"-->
<!--        @reInit="handleReInit"-->
<!--        @setPosition="handleSetPosition"-->
<!--        @swipe="handleSwipe"-->
<!--        @lazyLoaded="handleLazyLoaded"-->
<!--        @lazyLoadError="handleLazeLoadError">-->
<!--    <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000" alt=""></a>-->
<!--    <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000" alt=""></a>-->
<!--    <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000" alt=""></a>-->
<!--    <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000" alt=""></a>-->
<!--    <a href="http://placehold.it/2000x1000"><img src="http://placehold.it/2000x1000" alt=""></a>-->
<!--</slick>-->